*~
.vscode
.cproject
.project
\#*
.#*
main
*.out
*.dot
main.dSYM
scratch
*.class
.idea/
.DS_Store
*.dot.png
cmake-build-debug/
*.dSYM
cmake_install.cmake
Makefile
CMakeCache.txt
CMakeFiles/
gdb.txt
shuati.cbp
GPATH
GRTAGS
GTAGS
Cargo.lock
target
.idea-clion/
.idea-python
go.test